.calculate-container{
    margin: 40px auto;
    padding-left: 20px;
    max-width: 700px;
}

.calculate-head{
    margin-top:100px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

select {
	margin: 0 0;
	color: rgb(247, 22, 217);
	width: 700px;
	padding: 15px;
	cursor: pointer;
  margin-bottom: 20px;
}

select:hover {
	background-color: transparent;
	color: white;
	padding: 15px 5px 15px 25px;
}

select option {
	background-color: white;
	color: gray;
	width: 310px;
	padding: 10px 15px;
	height: 20px;
	cursor: pointer;
}

select option:hover {
	padding-left: 25px;
	width: 270px;
	color: #EC6F66;
}

  .sum, .head-sum{
    text-align: center;
    font-size: 30px;
  }

  .sum{
    color: rgb(247, 22, 217);
  }

  .description-for-select{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }

  .phone{
    height: 50px;
  }

  .input-field{
    color:rgb(247, 22, 217);
    padding: 10px;
    width: 300px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .input-field:hover{
    background-color: transparent;
  }

  .container-name-phone{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
  }

/* CSS */
.button-calc-price {
    margin: 0 auto;
  background-color: #f4f4f7;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color:rgb(247, 22, 217);
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.button-calc-price:hover {
  background-color: #63035b;
}

.button-calc-price:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (max-width: 730px) {
  .calculate-container{
    max-width: 100%;
  }

  select{
    width: 94%;
    margin-right: 10px;
  }

  .container-name-phone{
    display: flex;
    flex-direction: column;
  }

  .input-field{
    width: 90%;
  }
}

.container-for-button{
    text-align: center;
}