.header{
    background-color: rgb(247, 22, 217);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.nav{
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.menu{
    display: flex;
    font-size: 20px;
    padding-inline-start: 10px;
}

.menu-item{
    padding-right: 30px;
    list-style-type: none;
}

.logo-game_name{
    display: flex;
    align-items: center;
}

.logo-img {
    aspect-ratio: 1 / 1;
    width: 50px;
    object-fit: contain;
}

.select-kvest,
.reserve-game{
    border-radius: 4px;
    background-color: rgb(247, 22, 217);
    border: none;
    color: #FFFFFF;
    text-align: left;
    font-size: 20px;
    padding: 5px;
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    justify-content: center;
}

.select-kvest span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.select-kvest span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.select-kvest:hover span {
    padding-right: 25px;
    color: rebeccapurple;
}

.select-kvest:hover span:after {
    opacity: 1;
    right: 0;
}

@media (max-width: 550px){
    .header{
        visibility: hidden;
        height: 30px;
    }
}